@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
body {
  font: 400 14px/18px "Roboto", sans-serif;
}

button,
a {
  transition: 0.3s ease all;
}
button:hover,
a:hover {
  text-decoration: none;
}

ul, ol {
  list-style: none;
  padding-left: 0;
}

.sidebar-nav {
  margin: 0 -15px;
  position: relative;
}
.sidebar-nav li {
  transition: 0.3s ease all;
  position: relative;
}
.sidebar-nav li.active, .sidebar-nav li:hover {
  background-color: #2D55C6;
}
.sidebar-nav li.active img, .sidebar-nav li:hover img {
  opacity: 1;
}
.sidebar-nav li .counter {
  background-color: #F6B021;
  color: #fff;
  border-radius: 1px;
  display: inline-block;
  height: 15px;
  width: 15px;
  line-height: 15px;
  text-align: center;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}
.sidebar-nav li a {
  padding: 7px 15px;
  display: block;
  letter-spacing: -0.02em;
}
.sidebar-nav li img {
  transition: 0.3s ease all;
  margin-right: 10px;
  opacity: 0.5;
}
.sidebar-nav li span {
  color: #fff;
}
.sidebar-nav + .sidebar-nav {
  margin-top: 7px;
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}
.sidebar-nav + .sidebar-nav li:hover {
  background-color: transparent;
}
.sidebar-nav + .sidebar-nav li a {
  border: 1px solid #fff;
  border-radius: 30px;
  margin: 0 5px;
}

.breadcrumbs {
  display: flex;
  padding: 15px 0;
  margin-bottom: 0;
}
.breadcrumbs li {
  position: relative;
}
.breadcrumbs li a {
  color: #9B9C9E;
  letter-spacing: -0.02em;
}
.breadcrumbs li a:hover {
  color: #375FD2;
}
.breadcrumbs li.active a {
  pointer-events: none;
  color: black;
}
.breadcrumbs li + li {
  padding-left: 18px;
}
.breadcrumbs li + li::before {
  content: "/";
  position: absolute;
  left: 8px;
  top: 0;
}

h2 {
  color: #45474B;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

h3 {
  color: #575E72;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}
.row + h3 {
  margin-top: 6px;
}

#header {
  border-bottom: 1px solid #EEEEEE;
  padding: 13px 0;
}
#header .header-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
#header.card {
  box-shadow: none;
}
#header .user-switcher {
  border-left: 1px solid #E2E5ED;
  padding-left: 20px;
}
#header .user-switcher select {
  border: none;
  outline: none;
  color: #9B9C9E;
  background-color: transparent;
}

#sidebar {
  background-color: #375FD2;
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100vh;
  padding: 15px;
  transition: 0.3s ease all;
  z-index: 100;
  opacity: 0;
}
.sidebar-open #sidebar {
  transition: 0.3s ease all;
  left: 0;
  opacity: 1;
}
#sidebar .close {
  position: absolute;
  top: 17px;
  right: 11px;
}
#sidebar .logo {
  margin-bottom: 15px;
}

.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EEEEEE;
  margin: 0 -30px;
  padding: 7px 30px;
  margin-bottom: 13px;
}
.top-content .flex-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.top-content .flex-align button.btn {
  min-width: 100px;
  margin-bottom: 0 !important;
  margin-left: 10px;
}
@media (max-width: 540px) {
  .top-content .flex-align {
    width: 100%;
    margin: 5px 0 10px;
    justify-content: space-between;
  }
}
@media (max-width: 540px) {
  .top-content {
    flex-wrap: wrap;
  }
}

.row:before, .row:after {
  display: none !important;
}

.card.card_inset {
  padding: 10px 15px 5px 15px;
  overflow: hidden;
}
.card.card_inset.card_inset_bootom {
  padding-bottom: 15px;
}

.card_inset .mb-3.card {
  margin-bottom: 0 !important;
}

.resp-center {
  text-align: center;
}
@media (max-width: 768px) {
  .resp-center {
    margin: 20px 0;
  }
}

img {
  max-width: 100%;
}

.btn {
  font-size: 14px;
}

header,
main {
  transition: 0.3s ease all;
  padding-left: 0;
}
.sidebar-open header,
.sidebar-open main {
  transition: 0.3s ease all;
  padding-left: 200px;
}
@media (max-width: 991px) {
  .sidebar-open header,
.sidebar-open main {
    padding-left: 0;
  }
}

.widgets {
  padding-left: 10px;
  padding-right: 10px;
}
.widgets div[class^=col-sm-],
.widgets div[class^=col-md-] {
  padding: 5px;
}
@media (max-width: 768px) {
  .widgets {
    padding-left: 0;
    padding-right: 0;
  }
}

div.widget-chart {
  padding: 10px;
}
div.widget-chart.text-left.mb-3 {
  margin-bottom: 10px !important;
}
div.widget-chart .circle-progress small {
  left: -4px;
}
body .row.widgets div.widget-chart-content {
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
@media (max-width: 768px) {
  div.widget-chart-content .widget-chart-flex {
    text-align: right;
  }
}
div.widget-chart-content .widget-title {
  flex: 1 1 70%;
}
div.widget-chart-content .widget-numbers {
  flex: 1 1 30%;
}
div.widget-chart-content .percent,
div.widget-chart-content small {
  font-size: 14px;
  line-height: 13px;
  font-weight: 800;
}
div.widget-chart-content .percent {
  position: absolute;
  top: 16px;
  right: 8px;
}
div.widget-chart-graph {
  border: 1px solid #E2E5ED;
  padding: 15px 15px 0 15px;
}
@media (max-width: 768px) {
  div.widget-chart-graph .widget-title {
    text-align: left;
  }
}
div.widget-chart-graph .widget-chart-flex.primary-blue span {
  color: #375FD2;
}
div.widget-chart-graph .widget-chart-flex.primary-green span {
  color: #3ac47d;
}
div.widget-chart-graph .widget-chart-flex span {
  font-weight: 900;
  font-size: 28px;
  line-height: 33px;
  color: #F6B021;
}
div.widget-chart-graph .widget-chart-wrapper {
  position: relative;
  overflow: hidden;
}
div.widget-chart-graph .widget-chart-wrapper::before {
  content: "";
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 5;
  bottom: 20px;
  left: 6px;
  border-left: 1px solid #E2E5ED;
  border-bottom: 1px solid #E2E5ED;
}
@media (max-width: 768px) {
  div.widget-chart-graph {
    margin-top: 15px;
  }
}
div.widget-chart-line {
  max-height: 30px;
}
@media (max-width: 991px) and (max-width: 1199px) {
  div.widget-chart-line {
    width: 32%;
    display: inline-block;
    max-height: 100%;
  }
}
@media (max-width: 768px) {
  div.widget-chart-line {
    width: 100%;
  }
}
div.widget-chart-line + .widget-chart-line {
  margin-top: 50px;
}
@media (max-width: 991px) and (max-width: 1199px) {
  div.widget-chart-line + .widget-chart-line {
    margin-top: 0;
  }
}
div.widget-chart-line .widget-chat-wrapper-outer {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}
div.widget-chart-line .widget-subheading {
  color: #495057;
  letter-spacing: -0.02em;
  font-size: 14px;
}
div.widget-chart-line .widget-chart-wrapper {
  position: relative;
}
div.widget-chart-line .widget-chart-wrapper::before {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #EEEEEE;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.widget-datepicker {
  max-width: 220px;
}
.widget-datepicker input {
  font-size: 15px;
}

.metadata-box {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.metadata-box h5 {
  font-size: 16px;
  font-weight: 700;
  color: #666B71;
}
.metadata-box p {
  color: #9B9C9E;
  letter-spacing: 0.04em;
}
.metadata-box .content {
  color: #666B71;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  padding-top: 6px;
}
.metadata-box .content-lang {
  display: flex;
  align-items: center;
}
.metadata-box .content-lang img {
  margin-right: 2px;
}

.btn-icon {
  display: flex;
  align-items: center;
}
.btn-icon i.btn-icon-wrapper {
  order: 1;
  font-size: 14px;
  margin-left: 5px;
}