@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
//========== Base ==========
@import "base/colors";
@import "base/typography";
@import "base/list";
@import "base/heading";
//========== Layout ==========
@import "layout/header";
@import "layout/sidebar";
@import "layout/base";
//========== Widgets ==========
@import "widgets/widget-chart";
@import "widgets/widget-datepicker";
@import "widgets/widget-matabox";

.btn {
  &-icon {
    display: flex;
    align-items: center;

    i.btn-icon-wrapper {
      order: 1;
      font-size: 14px;
      margin-left: 5px;
    }
  }
}


