.top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $hr-color-primary;
  margin: 0 -30px;
  padding: 7px 30px;
  margin-bottom: 13px;

  .flex-align {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    button.btn {
      min-width: 100px;
      margin-bottom: 0 !important;
      margin-left: 10px;
    }

    @media (max-width: 540px) {
      width: 100%;
      margin: 5px 0 10px;
      justify-content: space-between;
    }
  }

  @media (max-width: 540px) {
    flex-wrap: wrap;
  }
}

.row:before, .row:after {
  display: none !important;
}


.card.card_inset {
  padding: 10px 15px 5px 15px;
  overflow: hidden;

  &.card_inset_bootom {
    padding-bottom: 15px;
  }
}

.card_inset .mb-3.card {
  margin-bottom: 0 !important;
}

.resp-center {
  text-align: center;

  @media (max-width: 768px) {
    margin: 20px 0;
  }
}

img {
  max-width: 100%;
}


.btn {
  font-size: 14px;
}

header,
main {
  transition: .3s ease all;
  padding-left: 0;

  .sidebar-open & {
    transition: .3s ease all;
    padding-left: 200px;

    @media (max-width: 991px) {
      padding-left: 0;
    }
  }
}