#header {
  border-bottom: 1px solid $hr-color-primary;
  padding: 13px 0;

  .header-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  &.card {
    box-shadow: none;
  }

  .user-switcher {
    border-left: 1px solid $hr-color-secondary;
    padding-left: 20px;

    select {
      border: none;
      outline: none;
      color: $primary-grey;
      background-color: transparent;
    }
  }
}

