#sidebar {
  background-color: $primary;
  position: fixed;
  top: 0;
  left: -100%;
  width: 200px;
  height: 100vh;
  padding: 15px;
  transition: .3s ease all;
  z-index: 100;
  opacity: 0;

  .sidebar-open & {
    transition: .3s ease all;
    left: 0;
    opacity: 1;
  }

  .close {
    position: absolute;
    top: 17px;
    right: 11px;
  }

  .logo {
    margin-bottom: 15px;
  }
}
