h2 {
  color: #45474B;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

h3 {
  color: #575E72;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;

  .row + & {
    margin-top: 6px;
  }
}
