ul, ol {
  list-style: none;
  padding-left: 0;
}

.sidebar-nav {
  margin: 0 -15px;
  position: relative;

  li {
    transition: .3s ease all;
    position: relative;

    &.active,
    &:hover {
      background-color: #2D55C6;

      img {
        opacity: 1;
      }
    }

    .counter {
      background-color: $primary-yellow;
      color: #fff;
      border-radius: 1px;
      display: inline-block;
      height: 15px;
      width: 15px;
      line-height: 15px;
      text-align: center;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }

    a {
      padding: 7px 15px;
      display: block;
      letter-spacing: -0.02em;
    }

    img {
      transition: .3s ease all;
      margin-right: 10px;
      opacity: .5;
    }

    span {
      color: #fff;
    }
  }

  & + & {
    margin-top: 7px;
    padding-top: 12px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    li:hover{
      background-color: transparent;
    }
    li a{
      border: 1px solid #fff;
      border-radius: 30px;
      margin: 0 5px;
    }
  }
}

.breadcrumbs {
  display: flex;
  padding: 15px 0;
  margin-bottom: 0;

  li {
    position: relative;

    a {
      color: $primary-grey;
      letter-spacing: -0.02em;

      &:hover {
        color: $primary;
      }
    }

    &.active a {
      pointer-events: none;
      color: black;
    }

    & + li {
      padding-left: 18px;

      &::before {
        content: '/';
        position: absolute;
        left: 8px;
        top: 0;
      }
    }
  }
}