.widgets {
  padding-left: 10px;
  padding-right: 10px;

  div[class^="col-sm-"],
  div[class^="col-md-"] {
    padding: 5px;
  }

  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
}

div.widget-chart {
  padding: 10px;

  &.text-left.mb-3 {
    margin-bottom: 10px !important;
  }

  .circle-progress small {
    left: -4px;
  }

  &-content {
    body .row.widgets & {
      position: relative;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }

    .widget-chart-flex {
      @media (max-width: 768px) {
        text-align: right;
      }
    }

    .widget-title {
      flex: 1 1 70%;
    }

    .widget-numbers {
      flex: 1 1 30%;
    }

    .percent,
    small {
      font-size: 14px;
      line-height: 13px;
      font-weight: 800;
    }

    .percent {
      position: absolute;
      top: 16px;
      right: 8px;
    }
  }

  &-graph {
    border: 1px solid $hr-color-secondary;
    padding: 15px 15px 0 15px;

    .widget-title {
      @media (max-width: 768px) {
        text-align: left;
      }
    }

    .widget-chart-flex {
      &.primary-blue span {
        color: $primary;
      }

      &.primary-green span {
        color: $primary-green;
      }

      span {
        font-weight: 900;
        font-size: 28px;
        line-height: 33px;
        color: $primary-yellow;
      }
    }

    .widget-chart-wrapper {
      position: relative;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 50px;
        right: 0;
        z-index: 5;
        bottom: 20px;
        left: 6px;
        border-left: 1px solid $hr-color-secondary;
        border-bottom: 1px solid $hr-color-secondary;
      }
    }

    @media (max-width: 768px) {
      margin-top: 15px;
    }
  }

  &-line {
    max-height: 30px;

    @media (max-width: 991px) and (max-width: 1199px) {
      width: 32%;
      display: inline-block;
      max-height: 100%;
    }

    @media (max-width: 768px) {
      width: 100%;
    }

    & + .widget-chart-line {
      margin-top: 50px;

      @media (max-width: 991px) and (max-width: 1199px) {
        margin-top: 0;
      }
    }

    .widget-chat-wrapper-outer {
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
    }

    .widget-subheading {
      color: #495057;
      letter-spacing: -0.02em;
      font-size: 14px;
    }

    .widget-chart-wrapper {
      position: relative;

      &::before {
        content: '';
        height: 1px;
        width: 100%;
        background-color: $hr-color-primary;
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

