.metadata {
  &-box {
    display: flex;
    justify-content: space-between;
    align-content: center;

    h5 {
      font-size: 16px;
      font-weight: 700;
      color: $secondary-grey;
    }

    p {
      color: $primary-grey;
      letter-spacing: 0.04em;
    }

    .content {
      color: $secondary-grey;
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      padding-top: 6px;

      &-lang {
        display: flex;
        align-items: center;

        img {
          margin-right: 2px;
        }
      }
    }
  }
}
